@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="bg-white p-6 space-y-6 w-full max-w-md rounded-lg shadow-lg">
    <div class="text-center">
        <h1 class="text-gray-900 text-2xl font-bold">@ViewData["Title"]</h1>
        <p class="text-gray-500">Sign in to your account</p>
    </div>

    <form id="account" method="post" class="space-y-4">
        <div asp-validation-summary="ModelOnly" class="text-red-500 text-sm" role="alert"></div>

        <!-- Email -->
        <div>
            <label asp-for="Input.Email" class="text-gray-700 block text-sm font-medium">Email</label>
            <div class="relative">
                <input asp-for="Input.Email" type="email" class="py-3 px-4 border-gray-300 w-full rounded-lg border shadow-sm focus:ring focus:ring-blue-300 focus:border-blue-500" autocomplete="username" placeholder="name@example.com" />
                <span asp-validation-for="Input.Email" class="text-red-500 text-sm"></span>
            </div>
        </div>

        <!-- Password -->
        <div>
            <label asp-for="Input.Password" class="text-gray-700 block text-sm font-medium">Password</label>
            <div class="relative">
                <input asp-for="Input.Password" type="password" class="py-3 px-4 border-gray-300 w-full rounded-lg border shadow-sm focus:ring focus:ring-blue-300 focus:border-blue-500" autocomplete="current-password" placeholder="••••••••" />
                <span asp-validation-for="Input.Password" class="text-red-500 text-sm"></span>
            </div>
        </div>

        <!-- Remember Me -->
        <div class="flex items-center justify-between">
            <label class="flex items-center">
                <input type="checkbox" asp-for="Input.RememberMe" class="h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring focus:ring-blue-300" />
                <span class="ml-2 text-gray-700 text-sm">Remember me</span>
            </label>
            <a id="forgot-password" asp-page="./ForgotPassword" class="text-blue-600 text-sm hover:underline">Forgot password?</a>
        </div>

        <!-- Login Button -->
        <button id="login-submit" type="submit" class="py-3 px-4 bg-blue-600 text-white w-full rounded-lg font-semibold transition hover:bg-blue-700 focus:ring focus:ring-blue-300">
            Log in
        </button>

        <!-- Links -->
        <div class="text-gray-600 text-center text-sm">
            <p>No tengo una Cuenta? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-blue-600 hover:underline">Sign up</a></p>
            @* <p><a id="resend-confirmation" asp-page="./ResendEmailConfirmation" class="text-blue-600 hover:underline">Resend email confirmation</a></p> *@
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
