@model gad_checa_gestion_cementerio.Data.Bloque

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Seccion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDePisos" class="control-label"></label>
                <input asp-for="NumeroDePisos" class="form-control" />
                <span asp-validation-for="NumeroDePisos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BovedasPorPiso" class="control-label"></label>
                <input asp-for="BovedasPorPiso" class="form-control" />
                <span asp-validation-for="BovedasPorPiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TarifaBase" class="control-label"></label>
                <input asp-for="TarifaBase" class="form-control" />
                <span asp-validation-for="TarifaBase" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaActualizacion" class="control-label"></label>
                <input asp-for="FechaActualizacion" class="form-control" />
                <span asp-validation-for="FechaActualizacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEliminacion" class="control-label"></label>
                <input asp-for="FechaEliminacion" class="form-control" />
                <span asp-validation-for="FechaEliminacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

