@model List<gad_checa_gestion_cementerio.Models.Views.ReporteBovedasViewModel>

<html>
<head>
    <title>Reporte de Bóvedas</title>
</head>
<body>
    <h2>Reporte de Bóvedas</h2>
    <table>
        <thead>
            <tr>
                <th>Bóveda</th>
                <th>Piso</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var boveda in Model)
            {
                <tr>
                    <td>@boveda.Numero</td>
                    <td>@boveda.NumeroPiso</td>
                    <td>@boveda.Estado</td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
