@model gad_checa_gestion_cementerio.Models.Listas.ContratoPaginadaViewModel
@{
    ViewData["Title"] = "Cobros";
}
<div class="my-4">
    <div class="card">
        <div class="card-header d-flex flex-wrap justify-content-between align-items-center">
            <div>
                <h4 class="card-title mb-2">Lista de Cobros</h4>
                <p class="text-muted">
                    Gestione los registros: puede listar, modificar, buscar y eliminar.
                </p>
            </div>
            <div class="d-flex gap-2 align-items-center mt-3 mt-md-0 flex-wrap-nowrap">
                <div>
                    <div class="input-group">
                        <input type="text" name="Filtro" id="hs-table-with-pagination-search"
                            class="form-control form-control-sm" placeholder="Buscar..." aria-label="Search"
                            value="@ViewBag.Filtro" />
                        <span class="input-group-text">
                            <i class="ti ti-search"></i>
                        </span>
                    </div>
                </div>
                <a class="btn btn-outline-secondary btn-md" asp-action="Index">
                    Ver todos
                </a>

            </div>
        </div>
        @await Html.PartialAsync("_ListaCobros", Model.Contratos)
        @await Html.PartialAsync("_Paginacion", Model)

    </div>
</div>