@model IEnumerable<gad_checa_gestion_cementerio.Models.NotifyModel>

@{
    ViewData["Title"] = "Nofificaciones";
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody></tbody>
    @foreach (var item in Model)
    {

        <tr>
            <td> @Html.DisplayFor(modelItem => item.title)</td>
            <td> @Html.DisplayFor(modelItem => item.description)</td>
        </tr>

    }
    </tbody>
</table>
