@model gad_checa_gestion_cementerio.Models.Views.BovedaFilterModel
@{
    ViewData["Title"] = "Bovedas";
    Layout = "~/Views/Cementerio/_CementerioLayout.cshtml";
    ViewData["EntityType"] = "bovedas";
}

<!-- Card -->
<div class="mb-4 flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 inline-block min-w-full align-middle">
            <div class="bg-white border-gray-200 overflow-hidden rounded-xl border shadow-sm dark:bg-neutral-800 dark:border-neutral-700">
                <!-- Header -->
                <div class="px-6 py-4 gap-3 border-gray-200 grid border-b dark:border-neutral-700 md:flex md:justify-between md:items-center">
                    <div>
                        <h2 class="text-gray-800 text-xl font-semibold dark:text-neutral-200">
                            Seleccione un bloque
                        </h2>
                        <p class="text-gray-600 text-sm dark:text-neutral-400">
                            Seleccione un bloque existente y, si desea, elija el piso correspondiente
                        </p>
                    </div>

                    <div>
                        <div class="gap-x-3 flex items-center">
                            <!-- Select -->
                            <div class="relative inline-block max-w-xs">
                                <select asp-for="Bloque"
                                class="py-2 px-4 mx-2 border-gray-200 text-gray-600 w-full rounded-lg text-left text-sm shadow-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
                                asp-items="ViewBag.Bloques">
                                    <option value="" class="text-left">Seleccione un bloque</option>
                                </select>
                                <span asp-validation-for="Bloque" class="text-red-500 mt-1 text-sm"></span>
                            </div>

                            <!-- Botón "View all" -->
                            <a class="py-2 px-3 gap-x-2 border-gray-200 bg-white text-gray-800 inline-block items-center rounded-lg border text-sm font-medium shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" asp-action="Index">
                                View all
                            </a>
                            <a class="py-2 px-3 gap-x-2 border-transparent bg-blue-600 text-white inline-flex items-center rounded-lg border text-sm font-medium hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" asp-action="Create">
                                <svg class="size-4 shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <path d="M5 12h14"></path>
                                    <path d="M12 5v14"></path>
                                </svg>
                                Cargar Datos
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="py-4 mx-auto">
    <!-- Botones para alternar vistas -->
    <div class="space-x-4 mb-4 flex items-center justify-end">
        <button id="btnTabla" class="px-4 py-2 bg-transparent text-grey-500 border-blue-600 flex items-center rounded border-b-2 focus:outline-none">
            <span class="mx-2">Ver Tabla</span>
            <svg class="w-6 h-6 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M2 6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6Zm2 8v-2h7v2H4Zm0 2v2h7v-2H4Zm9 2h7v-2h-7v2Zm7-4v-2h-7v2h7Z" clip-rule="evenodd" />
            </svg>
        </button>
        <button id="btnGrafico" class="px-4 py-2 bg-transparent text-grey-500 flex items-center rounded border-b-2 focus:outline-none">
            <span class="mx-2">Ver Gráfico</span>
            <svg class="w-6 h-6 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5" />
            </svg>
        </button>
    </div>

    <!-- Contenedor de la Tabla (visible por defecto) -->
    <div id="tablaContainer">
        @await Html.PartialAsync("_TablaGenerica", Model.Bovedas)
    </div>

    <!-- Contenedor del Gráfico (oculto por defecto) -->
    <div id="graficoContainer" class="hidden">
        <div class="mb-4 flex flex-col">
            <div class="-m-1.5 overflow-x-auto">
                <div class="p-1.5 inline-block min-w-full align-middle">
                    <div class="bg-white border-gray-200 p-6 overflow-hidden rounded-xl border shadow-sm dark:bg-neutral-800 dark:border-neutral-700">
                        
                        <h2 class="text-gray-800 mb-4 text-xl font-semibold dark:text-neutral-200">
                            Bóvedas de Cementerio
                        </h2>
                        <!-- Contenedor del bloque -->
                        <div class="mx-auto flex w-full overflow-hidden rounded-lg shadow-md">
                            <!-- Calle Izquierda -->
                            <div class="w-16 bg-gray-600 flex items-center justify-center rounded-l-lg">
                                <span class="text-white -rotate-90 transform font-semibold">Calle B</span>
                            </div>

                            <!-- Bloque de bóvedas -->
                            <div class="flex-1">
                                <div class="bg-gray-200 p-6 pb-12">
                                    @for (int i = Model.getNumeroPisos; i > 0; i--)
                                    {
                                        <div class="space-y-4 mb-8 flex flex-col">
                                            <p class="mb-2 text-lg font-bold">Piso @i</p>
                                            <div class="gap-4 grid grid-cols-12">
                                                @foreach (var item in Model.Bovedas.OrderByDescending(b => b.Numero))
                                                {
                                                    if (item.Piso.NumeroPiso == i)
                                                    {
                                                        <!-- Bóveda -->
                                                        <div class="border-gray-400 bg-white relative aspect-square rounded-lg border-8 shadow-sm transition-colors hover:bg-gray-50">
                                                            <svg class="w-8 h-8 mt-4 text-gray-600 mx-auto" xmlns="http://www.w3.org/2000/svg" id="Layer_2" data-name="Layer 2" viewBox="0 0 256.25 418.58" stroke="currentColor">
                                                                <g id="Layer_1-2" data-name="Layer 1">
                                                                    <path class="cls-1" d="m93.83,93.74c.22-4.94.59-10.02.64-15.09.2-20.47.28-40.93.43-61.4.04-5.47,1.35-10.41,6-13.9,3.4-2.55,7.45-3.16,11.47-3.22,11.85-.17,23.7-.17,35.55-.03,8.87.11,13.72,6.18,13.68,14.09-.12,25.05.08,50.09.18,75.14,0,1.33-.23,2.7.35,4.03,1.33,1.25,3.02.82,4.58.82,24.24.03,48.48.03,72.72.01,2.83,0,5.65.04,8.46.46,4.36.64,6.75,2.78,7.83,6.99.44,1.71.53,3.45.52,5.21-.01,14.14,0,28.28-.02,42.42-.01,7.12-4.2,11.88-11.29,12.81-1.59.21-3.22.18-4.84.19-24.64.16-49.27.3-73.91.45-1.07,0-2.16-.12-3.28.42-1.26,1.43-.71,3.27-.71,4.94-.03,31.65.31,63.3-.1,94.94-.5,38.65-.13,77.29-.34,115.94-.04,7.81-.14,15.62-.22,23.43-.1,9.23-5.93,15.58-15.18,15.94-7.26.28-14.54-.03-21.81-.02-5.52.01-11.05-.08-16.56.24-7.7.45-13.41-7.3-13.34-13.32.14-12.12-.15-24.24-.15-36.35-.02-44.85.29-89.7-.12-134.54-.19-21.27-.07-42.55-.34-63.82-.01-1.08-.07-2.15-.09-3.23-.06-2.98-1.52-4.39-4.54-4.38-4.44.01-8.88-.18-13.32-.18-20.87-.02-41.75,0-62.62,0-1.08,0-2.19.16-3.23-.04-6.8-1.28-8.82-2.09-9.86-9.02-.47-3.09-.37-6.18-.38-9.27-.01-10.5,0-21.01,0-31.51,0-3.53.71-6.9,1.85-10.24,1.83-5.35,5.64-7.53,11.07-7.55,16.83-.05,33.66-.11,50.5-.21,9.02-.05,18.04-.18,27.06-.29.93-.01,1.89.1,3.35-.85Z" />
                                                                </g>
                                                            </svg>
                                                            <p class="text-gray-800 mt-2 text-center">@item.Numero</p>
                                                            <!-- Círculo de estado -->
                                                            <div class="bottom-2 right-2 w-4 h-4 bg-green-500 absolute rounded-full"></div>
                                                            @*  <div class="bottom-2 right-2 w-4 h-4 bg-red-500 absolute rounded-full"></div>
                                                                <div class="bottom-2 right-2 w-4 h-4 bg-yellow-500 absolute rounded-full"></div> *@
                                                        </div>
                                                    }
                                                }
                                            </div>
                                        </div>
                                        @if (i != 1)
                                        {
                                            <!-- Separador visual entre pisos -->
                                            <div class="border-gray-400 my-4 border-b"></div>
                                        }
                                    }
                                </div>
                                <!-- Calle Principal -->
                                <div class="bg-gray-600 h-14 flex w-full items-center justify-center">
                                    <span class="text-white font-semibold">Calle A</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Script para alternar entre vistas y actualizar el botón activo -->
<script>
    const btnTabla = document.getElementById('btnTabla');
    const btnGrafico = document.getElementById('btnGrafico');
    const tablaContainer = document.getElementById('tablaContainer');
    const graficoContainer = document.getElementById('graficoContainer');

    btnTabla.addEventListener('click', function () {
        tablaContainer.classList.remove('hidden');
        graficoContainer.classList.add('hidden');

        // Actualiza la apariencia de los botones
        btnTabla.classList.add('border-blue-600');
        btnGrafico.classList.remove('border-blue-600');
    });

    btnGrafico.addEventListener('click', function () {
        tablaContainer.classList.add('hidden');
        graficoContainer.classList.remove('hidden');

        // Actualiza la apariencia de los botones
        btnGrafico.classList.add('border-blue-600');
        btnTabla.classList.remove('border-blue-600');
    });
</script>
