@model gad_checa_gestion_cementerio.Models.DifuntoModel
@{
    ViewData["Title"] = "Crear Difunto";
}

<div class="mt-5">
    <div class="card shadow-sm">
        <div class="card-header bg-primary text-white">
            <h2 class="h4 mb-0 text-white">Datos del Difunto</h2>
        </div>
        <div class="card-body">
            <p class="text-muted mb-4">Asegúrate de completar los campos necesarios</p>
            <form asp-action="CreateDifunto" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="NumeroIdentificacion" class="form-label">Cédula</label>
                        <input asp-for="NumeroIdentificacion" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="Nombres" class="form-label">Nombres</label>
                        <input asp-for="Nombres" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="Apellidos" class="form-label">Apellidos</label>
                        <input asp-for="Apellidos" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label for="FechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                        <input asp-for="FechaNacimiento" class="form-control" />
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label asp-for="FechaFallecimiento" class="form-label">Fecha de Defunción</label>
                        <input asp-for="FechaFallecimiento" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <label asp-for="DescuentoId" class="form-label">Descuento</label>
                        <select asp-for="DescuentoId" class="form-control" asp-items="ViewBag.DescuentoId"></select>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>