@model gad_checa_gestion_cementerio.Models.CreateContratoModel

@{
  ViewData["Title"] = "Create";
}



<div style="max-width: 800px; margin: 0 auto; ">
  <div style="border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); overflow: hidden;">

    <iframe src="@Url.Action("VerContratoPDF", "Contratos", new { nombre = ViewBag.NombreArchivo })" width="100%"
      height="1000px" frameborder="0" style="border: none;">
    </iframe>

  </div>
</div>
