@model gad_checa_gestion_cementerio.Models.CreateContratoModel

@{
    ViewData["Title"] = "Create";
}


<!-- Card -->
<div class="mb-4 flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 inline-block min-w-full align-middle">
            <div class="bg-gray-600 border-gray-200 overflow-hidden rounded-xl border shadow-sm dark:bg-neutral-800 dark:border-neutral-700">
                <!-- Header -->
                <div class="px-6 py-4 gap-3 border-gray-200 grid border-b dark:border-neutral-700 md:flex md:justify-between md:items-center">
                    <div>
                        <h2 class="text-white text-xl font-semibold dark:text-neutral-200">
                            Contrato de Servicio de Arrendamiento de Cementerio
                        </h2>
                        <p class="text-white text-sm dark:text-neutral-400">
                            Número de Contrato: CTR-GADCHECA-2025-999
                        </p>
                    </div>

                    <div>
                        <div class="gap-x-3 flex items-center">
                            <!-- Botón "View all" -->
                            <a class="py-2 px-3 gap-x-2 border-gray-200 bg-white text-gray-800 inline-block items-center rounded-lg border text-sm font-medium shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-neutral-700 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" asp-action="Index">
                                View all
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="p-4 bg-white rounded-lg shadow-md dark:bg-neutral-800">
    <!-- Stepper -->
    <div data-hs-stepper="">
        <!-- Stepper Nav -->
        <ul class="gap-x-2 relative flex flex-row">
            <li class="gap-x-2 basis-0 group flex flex-1 shrink items-center" data-hs-stepper-nav-item='{
        "index": 1
      }'>
                <span class="min-w-7 min-h-7 group inline-flex items-center align-middle text-xs">
                    <span class="size-7 bg-gray-100 text-gray-800 group-focus:bg-gray-200 flex shrink-0 items-center justify-center rounded-full font-medium dark:bg-neutral-700 dark:text-white hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 dark:group-focus:bg-gray-600 dark:hs-stepper-active:bg-blue-500 dark:hs-stepper-success:bg-blue-500 dark:hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600 dark:hs-stepper-completed:group-focus:bg-teal-600">
                        <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">1</span>
                        <svg class="size-3 hidden shrink-0 hs-stepper-success:block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </span>
                    <span class="ms-2 text-gray-800 text-sm font-medium dark:text-white">
                        Datos del Fallecido
                    </span>
                </span>
                <div class="h-px bg-gray-200 group-last:hidden w-full flex-1 dark:bg-neutral-600 hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600 dark:hs-stepper-success:bg-blue-500 dark:hs-stepper-completed:bg-teal-500"></div>
            </li>

            <li class="gap-x-2 basis-0 group flex flex-1 shrink items-center" data-hs-stepper-nav-item='{
        "index": 2
      }'>
                <span class="min-w-7 min-h-7 group inline-flex items-center align-middle text-xs">
                    <span class="size-7 bg-gray-100 text-gray-800 group-focus:bg-gray-200 flex shrink-0 items-center justify-center rounded-full font-medium dark:bg-neutral-700 dark:text-white hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 dark:group-focus:bg-gray-600 dark:hs-stepper-active:bg-blue-500 dark:hs-stepper-success:bg-blue-500 dark:hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600 dark:hs-stepper-completed:group-focus:bg-teal-600">
                        <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">2</span>
                        <svg class="size-3 hidden shrink-0 hs-stepper-success:block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </span>
                    <span class="ms-2 text-gray-800 text-sm font-medium dark:text-white">
                        Datos de los responsables
                    </span>
                </span>
                <div class="h-px bg-gray-200 group-last:hidden w-full flex-1 dark:bg-neutral-600 hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600 dark:hs-stepper-success:bg-blue-500 dark:hs-stepper-completed:bg-teal-500"></div>
            </li>

            <li class="gap-x-2 basis-0 group flex flex-1 shrink items-center" data-hs-stepper-nav-item='{
          "index": 3
        }'>
                <span class="min-w-7 min-h-7 group inline-flex items-center align-middle text-xs">
                    <span class="size-7 bg-gray-100 text-gray-800 group-focus:bg-gray-200 flex shrink-0 items-center justify-center rounded-full font-medium dark:bg-neutral-700 dark:text-white hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 dark:group-focus:bg-gray-600 dark:hs-stepper-active:bg-blue-500 dark:hs-stepper-success:bg-blue-500 dark:hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600 dark:hs-stepper-completed:group-focus:bg-teal-600">
                        <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">3</span>
                        <svg class="size-3 hidden shrink-0 hs-stepper-success:block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </span>
                    <span class="ms-2 text-gray-800 text-sm font-medium dark:text-white">
                        Datos del contrato
                    </span>
                </span>
                <div class="h-px bg-gray-200 group-last:hidden w-full flex-1 dark:bg-neutral-600 hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600 dark:hs-stepper-success:bg-blue-500 dark:hs-stepper-completed:bg-teal-500"></div>
            </li>

            <li class="gap-x-2 basis-0 group flex flex-1 shrink items-center" data-hs-stepper-nav-item='{
          "index": 4
        }'>
                <span class="min-w-7 min-h-7 group inline-flex items-center align-middle text-xs">
                    <span class="size-7 bg-gray-100 text-gray-800 group-focus:bg-gray-200 flex shrink-0 items-center justify-center rounded-full font-medium dark:bg-neutral-700 dark:text-white hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 dark:group-focus:bg-gray-600 dark:hs-stepper-active:bg-blue-500 dark:hs-stepper-success:bg-blue-500 dark:hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600 dark:hs-stepper-completed:group-focus:bg-teal-600">
                        <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">4</span>
                        <svg class="size-3 hidden shrink-0 hs-stepper-success:block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </span>
                    <span class="ms-2 text-gray-800 text-sm font-medium dark:text-white">
                        Pago
                    </span>
                </span>
                <div class="h-px bg-gray-200 group-last:hidden w-full flex-1 dark:bg-neutral-600 hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600 dark:hs-stepper-success:bg-blue-500 dark:hs-stepper-completed:bg-teal-500"></div>
            </li>

            <li class="gap-x-2 basis-0 group flex flex-1 shrink items-center" data-hs-stepper-nav-item='{
          "index": 5
        }'>
                <span class="min-w-7 min-h-7 group inline-flex items-center align-middle text-xs">
                    <span class="size-7 bg-gray-100 text-gray-800 group-focus:bg-gray-200 flex shrink-0 items-center justify-center rounded-full font-medium dark:bg-neutral-700 dark:text-white hs-stepper-active:bg-blue-600 hs-stepper-active:text-white hs-stepper-success:bg-blue-600 hs-stepper-success:text-white hs-stepper-completed:bg-teal-500 dark:group-focus:bg-gray-600 dark:hs-stepper-active:bg-blue-500 dark:hs-stepper-success:bg-blue-500 dark:hs-stepper-completed:bg-teal-500 hs-stepper-completed:group-focus:bg-teal-600 dark:hs-stepper-completed:group-focus:bg-teal-600">
                        <span class="hs-stepper-success:hidden hs-stepper-completed:hidden">5</span>
                        <svg class="size-3 hidden shrink-0 hs-stepper-success:block" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </span>
                    <span class="ms-2 text-gray-800 text-sm font-medium dark:text-white">
                        Verificación de Datos
                    </span>
                </span>
                <div class="h-px bg-gray-200 group-last:hidden w-full flex-1 dark:bg-neutral-600 hs-stepper-success:bg-blue-600 hs-stepper-completed:bg-teal-600 dark:hs-stepper-success:bg-blue-500 dark:hs-stepper-completed:bg-teal-500"></div>
            </li>
            <!-- End Item -->
        </ul>
        <!-- End Stepper Nav -->
        <!-- Stepper Content -->
        <div class="mt-5 sm:mt-8">
            <!-- First Content -->
            <div data-hs-stepper-content-item='{
        "index": 1
      }'>
            @await Html.PartialAsync("_CreateDifunto", Model.difunto)
            </div>
            <!-- End First Content -->
            <!-- Second Content -->
            <div data-hs-stepper-content-item='{
        "index": 2
      }' style="display: none;">
                 @await Html.PartialAsync("_CreateResponsables", Model.responsables)
            </div>
            <!-- End Second Content -->
            <!-- Third Content -->
            <div data-hs-stepper-content-item='{
        "index": 3
      }' style="display: none;">
                @await Html.PartialAsync("_CreateContrato", Model.contrato)
            </div>
            <!-- End Third Content -->
            <!-- Fourth Content -->
            <div data-hs-stepper-content-item='{
        "index": 4
      }' style="display: none;">
                 @await Html.PartialAsync("_CreatePago", Model.pago)
            </div>
            <!-- End Fourth Content -->
            <!-- Fifth Content -->
            <div data-hs-stepper-content-item='{
        "index": 5
      }' style="display: none;">
                 @await Html.PartialAsync("_DocumentoContrato", Model)
            </div>
            <!-- End Fifth Content -->
            <!-- Button Group -->
            <div class="mt-5 gap-x-2 flex items-center justify-between">
                <button type="button" class="py-2 px-3 gap-x-1 border-gray-200 bg-white text-gray-800 inline-flex items-center rounded-lg border text-sm font-medium shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none" data-hs-stepper-back-btn="">
                    <svg class="size-4 shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m15 18-6-6 6-6"></path>
                    </svg>
                    Back
                </button>
                <button type="button" class="py-2 px-3 gap-x-1 border-transparent bg-blue-600 text-white inline-flex items-center rounded-lg border text-sm font-medium hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" data-hs-stepper-next-btn="">
                    Next
                    <svg class="size-4 shrink-0" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="m9 18 6-6-6-6"></path>
                    </svg>
                </button>
                <button type="button" class="py-2 px-3 gap-x-1 border-transparent bg-blue-600 text-white inline-flex items-center rounded-lg border text-sm font-medium hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" data-hs-stepper-finish-btn="" style="display: none;">
                    Finish
                </button>
                <button type="reset" class="py-2 px-3 gap-x-1 border-transparent bg-blue-600 text-white inline-flex items-center rounded-lg border text-sm font-medium hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none" data-hs-stepper-reset-btn="" style="display: none;">
                    Reset
                </button>
            </div>
            <!-- End Button Group -->
        </div>
        <!-- End Stepper Content -->
    </div>
    <!-- End Stepper -->
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
