@model gad_checa_gestion_cementerio.Models.DocumentoViewModel
@{
    ViewData["Title"] = "Cargar Comprobante de Contrato";
}


<form asp-action="SubirDocumento" enctype="multipart/form-data" method="post" class="mb-4">
    <input type="hidden" name="idContrato" value="@ViewBag.IdContrato" />
    <div class="form-group">
        <label asp-for="Archivo" class="mb-2">Suba el Documento firmado</label>
        <input asp-for="Archivo" type="file" class="form-control" />
        <span asp-validation-for="Archivo" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" onclick="this.disabled=true; this.form.submit();"><i
            class="ti ti-upload"></i> Subir documento</button>

</form>
@if (!Model.esNuevo && !string.IsNullOrEmpty(Model.RutaGuardada))
{
    <div class="alert alert-primary border-primary static-alert" role="alert">
        <div class="d-flex align-items-center">
            <i class="ti ti-file-check me-2 fs-5"></i>
            <div>
                <strong>Documento cargado</strong><br />
                Documento firmado y cargado para este contrato.
                <a href="@Model.RutaGuardada" target="_blank" class="text-decoration-underline ms-2">
                    <i class="ti ti-external-link me-1"></i>Ver documento actual
                </a>
            </div>
        </div>
    </div>
}


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
